@import './base';

.page-wrapper {
  overflow: hidden;
  min-height: 100vh;
  background-image: url("../img/main-back.jpg");
  background-repeat: repeat;
  background-size: auto;
  display: flex;
  flex-direction: column;
  position: relative;

  &--background {
    background-image: none;
  }
}

.contact-page {
  background-image: url("../img/main-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.w-100 {
  width: 100%;
}

.border {  
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.section {
  padding: 40px 0 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &-title {
    text-align: center;
    color: #fff;
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 65px;
    span {
      color: #FFCC00;
    }
  }
}

.s-main {
  height: 100vh;
  display: flex;
  align-items: center;

  .logo {
    margin-left: 15px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__phone {  
    position: relative;
    margin-right: 15px;
    text-align: right;
  }

  &__video {
    width: 262px;
    height: 560px;
    position: absolute;
    box-shadow: -25.767px 0px 49.3868px rgba(0, 0, 0, 0.35);
    right: 5px;
    top: 7px;
    z-index: 0;
    overflow: hidden;
  }

  .video {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 265px;
    max-width: none;
    min-height: 100%;
    z-index: -1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/grid.png");
    background-color: rgba(#000, .2);
    z-index: -1;
  }

  &__text {
    position: absolute;
    color: #fff;
    text-align: center;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    span {
      color: #FFCC00;
    }
  }
}

.s-work {
  padding: 30px 0 50px;

  .work {
    position: relative;
    border-radius: 10px;
    max-width: 390px;
    margin: 0 auto 20px;
    overflow: hidden;

    &:hover, &.active {
      // .work__img {
      //   transform: scale(1.01);
      // }
    }

    &__img {
      padding: 10px;
      img {
        border-radius: 10px;
      }
    }

    &__app {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      max-width: 286px;
      width: 100%;
      padding: 0 5px;
      a {
        cursor: pointer;
        max-width: 143px;
        height: 42px;
        padding: 0px 10px;
        background-color: rgba(#000, .7);
        border-radius: 3px;
        display: flex;
        align-items: center;
        transition: .3s;
        &:hover {
          transform: scale(1.03);
          background-color: #000;
        }
        a {
          flex-shrink: 0;
        }
        &:first-child {
          margin-right: 3px;
          max-width: 134px;
          width: 100%;
        }
        &:last-child {
          margin-left: 3px;
          max-width: 152px;
          width: 100%;
        }
      }
    }
  }
}

.s-contact {
  padding: 60px 0 30px;
  
  &__content {
    display: flex;
    justify-content: center;
  }

  &__info {
    font-size: 12px;
    text-align: center;
    margin-top: 80px;
    span {
      color: #FFCC00;
    }
  }

  .contact {
    max-width: 190px;
    width: 100%;
    margin-right: 90px;
    &:last-child {
      margin-right: 0;
    }
    
    &__title {
      font-weight: 600;
      font-size: 24px;
      text-transform: uppercase;
      position: relative;
      padding-left: 25px;
      margin-bottom: 20px;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background: $accent;
        left: 0;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__text {
      margin: 0 auto 12px;
      &--email {
        margin-left: 20px;
      }
      img {
        width: 16px;
        margin-right: 5px;
      }
    }
  }
}

.s-map {
  position: relative;
  padding: 50px 0 60px;
  z-index: 0;
  .map-mobile {
    display: none;
  }
  &.show-map {
    .s-map {
      &__yandex {
        & > ymaps {
          opacity: 1;
        }        
      }
      &__image {
        z-index: -1;
        opacity: 0;
      }
    }
  }
  &__yandex {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%;
    & > ymaps {
      opacity: 0;
      height: 100% !important;
    }
  }
  &__image {
    position: relative;
    z-index: 2;
  }
  .button {
    font-size: 24px;
    font-weight: bold;
    border-radius: 90px;
    padding: 28px 50px;
    position: absolute;
    right: 20%;
    bottom: 115px;
  }
}

.s-terms {
  padding: 80px 0 50px;

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  h3 {
    font-weight: 600;
    margin-bottom: 10px;
  }

  ol {
    margin-bottom: 20px;
  }
}


@import './_media';